header{
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-image: url(https://previews.123rf.com/images/tirachard/tirachard1802/tirachard180200064/95656773-creative-flat-lay-photo-of-workspace-desk-top-view-office-desk-with-laptop-blank-empty-notebooks-and.jpg);
   
}

.navigation{

}