<%- include("header") -%> 

<body>
    <h1>This is About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente dolorem atque molestias dolorum ut earum
        molestiae ipsum nobis nam. Omnis ullam impedit saepe ratione quidem, vel sint! Rec</p>
</body>

<%- include('footer') -%> 