body{
    background-color: #DFF6FF;
}

hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1, h3{
    color: #47B5FF;
}

/*
    linl to color palette : https://colorhunt.co/palette/0067780093ab00afc1ffd124
*/